@import "tailwindcss";

/* Hide scrollbar but keep scrolling enabled */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

 html,
 body {
   caret-color: transparent;
 }

 input,
 textarea,
 [contenteditable="true"] {
   caret-color: auto;
 }
