spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs

  application:
    name:
      RENTAL-SERVICE
  datasource:
    url: jdbc:postgresql://us-east-1.484d70c2-e6c6-4f28-9da7-41fa288fec6c.aws.yugabyte.cloud:5433/yugabyte?ssl=true&sslmode=verify-full&sslrootcert=D:\\aayushi\\RentMitra\\Backrnd-RentMitra-Java\\root.crt
    username: aayushi
    password: "Aayushi@123"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8085

eureka:
  client:
    service-url.defaultZone:
      http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    hostname: localhost
    prefer-ip-address: true

logging:
  level:
    org.springframework.security: DEBUG